

# Directories
out/**
Packages/**
scripts/compile/__pycache__/**
types
tests/lsp/**
tests/selene/**
lints

# Files
sourcemap.json
wally.lock
package-lock.json

# File types
*.lock
*.gitconfig
*.rbxl
*.rbxlx
*.lock

